body {
  background-color: #F4BBFF;
}
ul {
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFC1CC;
}

li {
  float: left;
}

li a {
  display: block;
  color: #efbbcc;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #db75c5;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #E4717A}

th {
  background-color: #FFB7C5;
  color: cherry blossom pink;
}
h1 {
	text-align: left;
}
category {
  margin: auto;
  width: 15%;
  border:  3px  solid black ;
  padding: 10px;
  text-align: left;
}body {
  background-color: #FBCCE7;
}
ul {
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFDD0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E9967A;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #CC4E5C;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #EDC9AF}

th {
  background-color: #F4BBFF;
  color: white;
}
h1 {
	text-align: center;
}
category {
  margin: auto;
  width: 15%;
  border:  3px  solid black ;
  padding: 10px;
}body {
  background-color: #F4BBFF;
}
ul {
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B48395;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FC8EAC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #71A6D2;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #E79FC4}

th {
  background-color: #FFB7C5;
  color: cherry blossom pink;
}
h1 {
	text-align: center;
}
category {
  margin: auto;
  width: 15%;
  border:  3px  solid black ;
  padding: 10px;
}
